body{
    background-color: rgb(121, 227, 126);
    color: white;
    text-align: center;
    font-family: Verdana;
    
}

h2{
    color: rgb(255, 106, 0);
}

.texto-inglês{
    color:blue;
    font-style: italic;
}

#nome-usuário{
    font-weight: bold;
}

@media screen and (max-width:420px){
    img{
        width: 100%;
    }
    p{
        font-size: 24px;
    }
}